@import "tailwindcss";

.mycontainer {
  max-width: 1440px;
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

.mycontainer2 {
  max-width: 1440px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
