@import "tailwindcss";

.mycontainer {
  max-width: 1440px;
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

.mycontainer2 {
  max-width: 1440px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}